<ion-header class="bar-profile" no-border>

  <ion-card text-center class="hide-card">
    <img class="profile-picture" src="../assets/icon/4.png" >
  </ion-card>

    <ion-grid style="height: 100%">
    <ion-row  align-items-center style="height: 100%">
      <ion-card style="width: 100% !important;" class="hide-card">
        <form [formGroup]="todo" (ngSubmit)="logForm()">
          <ion-item lines= "none">
            <ion-label position="floating" >Username</ion-label>
            <ion-input id="email" type="text" (ionBlur)="checkMail()" formControlName="email"></ion-input>
          </ion-item>
          <ion-item lines= "none">
            <ion-label position="floating">Password</ion-label>
            <ion-input id="password" type="password" formControlName="password"></ion-input>
          </ion-item>

           <ion-row>
             <ion-col width-50 style="text-align: center">
               <ion-button id="login" style="--border-radius:0px;" block ion-button type="submit" [disabled]="!todo.valid"><ion-icon name="mail" slot="start"> </ion-icon>Login</ion-button>
             </ion-col>
             <ion-col width-50 style="text-align: center">
               <ion-button (click)="forgotPassword()" style="--border-radius:0px;" fill="clear" block ion-button type="submit" [disabled]="!todo.value.email"><ion-icon name="help" slot="start"> </ion-icon>Forgot Password</ion-button>
             </ion-col>
           </ion-row>



        </form>
        <ion-row>
          <ion-col width-50 style="text-align: center">
           <p>
             or
             </p>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col width-50 style="text-align: center; padding-left:100px">
              <ion-button style="--border-radius:0px; --padding-end:-5px " (click)="auth.facebookLogin()" color="facebook"><ion-icon name="logo-facebook" slot="start"> </ion-icon></ion-button>
            </ion-col>

        <ion-col width-50 style="text-align: center; padding-right:100px;">
          <ion-button style="--border-radius:0px; --padding-end:-5px" color="gp"  (click)="auth.googleLogin()"><ion-icon name="logo-googleplus" slot="start"> </ion-icon></ion-button>
        </ion-col>
        </ion-row>

        <ion-row>
        <ion-col width-50 style="text-align: center">
        <p>
          Havent't signed up yet?
          </p>
        </ion-col>
        </ion-row>

        <ion-row>
        <ion-col width-50 style="text-align: center">
        <ion-button id="signupbutton" style="--border-radius:0px;" [routerLink]="'/signup'" routerDirection="forward" ><ion-icon name="log-in" slot="start"> </ion-icon>Register</ion-button>
        </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>

  </ion-grid>

</ion-header>
